<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3><%= t '.micropost_feed' %></h3>
      <%= render 'shared/feed' %>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1><%= t :welcome_to_the %> </h1>

    <h2>
      <%= t '.this_is_the' %>
    </h2>

    <%= link_to (t '.sign_up_now_1'), signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %> 